<html>
    <head>
        <title>微臣托福教育在线平台</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
      <h1>微臣托福教育在线平台</h1>
      <div id="navigator">
        <nav style="position:absolute; top:0; right:0;">
          <ul style="list-style-type:none; display:flex;">
            <li v-for="item in items" :key="item.id" style="margin-right:20px;">
              <div v-if="item.text === '登录'">
                <a v-if="!username" :href="item.url" style="text-decoration:none; font-weight:bold;">{{ item.text }}</a>
                <span v-else style="font-weight:bold;">{{ username }}</span>
              </div>
              <div v-else-if="item.text === '登出'">
                <a v-if="username" :href="item.url" style="text-decoration:none; font-weight:bold;">{{ item.text }}</a>
              </div>
              <div v-else>
                <a :href="item.url" style="text-decoration:none; font-weight:bold;">{{ item.text }}</a>
              </div>
            </li>
          </ul>
        </nav>
      </div>      
        <h2>课程推荐</h2>
        <div id="courseList">
          <div v-for="course in courses" :key="course.title" class="courseItem" @click="navigateTo(course.signUpURL)">
            <div>
              <img v-bind:src="course.coverURL" alt="course image">
            </div>
            <div>
              <h3>{{ course.title }}</h3>
            </div>
            <div>
              <p>{{ course.description }}</p>
            </div>
            <div v-if="isRoot">
              <a :href="'/delete/courseInfo/?id=' + course.id + '&coverURL=' + course.coverURL">删除</a>
            </div>            
          </div>
        </div>

        <script>
        new Vue({
          el: '#navigator',
          data() {
            return {
              items: [
                { id: 1, text: '登录', url: '/login' },
                { id: 2, text: '注册', url: '/register' },
                { id: 3, text: '首页', url: '/' },
                { id: 4, text: '资料共享', url: '/resources' },
                { id: 5, text: '听力1500词测试', url: '/sheetChoice' },
                { id: 6, text: '登出', url: '/logout' },
              ],
              username: '',
            };
          },
          mounted() {
            axios
              .get('/getUsername')
              .then((response) => {
                this.username = response.data;
              })
              .catch((error) => {
                console.error(error);
              });
          },
        });
        new Vue({
        el: '#courseList',
        data: {
            courses: []
        },
        mounted() {
            this.fetchCourses();
            this.getRole();
        },
        methods: {
            fetchCourses() {
            axios.get('/courseList?num=5')
                .then(response => {
                this.courses = response.data
                })
                .catch(error => {
                console.error(error)
                })
            },
            getRole() {
              axios.get('/getRole')
              .then(response => {
                this.isRoot = response.data.includes("ROLE_root");
              })
              .catch(error => {
                console.error(error)
              });
            },
            navigateTo(url) {
                  window.location.href = url;
                }
        }
        });
        </script>
        <style>
            div.courseItem {
              display: inline-flex;
              flex-direction: column;
              align-items: center;
              cursor: pointer;
              width: 300px;
              margin: 0 10px;
            }
            
            div.courseItem img {
              width: 200px;
              height: 150px;
            }
            
            div.courseItem h3 {
              font-weight: bold;
            }
        </style>
    </body>
</html>