<html>
    <head>
        <title>微臣托福教育在线平台</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    </head>
    <body>
        <div id="navigator">
            <nav style="position:absolute; top:0; right:0;">
                <ul style="list-style-type:none; display:flex;">
                  <li v-for="item in items" :key="item.id" style="margin-right:20px;">
                    <a :href="item.url" style="text-decoration:none; font-weight:bold;">{{ item.text }}</a>
                  </li>
                </ul>
              </nav>
        </div>
        <div id="courseList">
          <div v-for="course in courses" :key="course.title" class="courseItem" @click="navigateTo(course.signUpURL)">
            <div>
              <img v-bind:src="course.coverURL" alt="course image">
            </div>
            <div>
              <h3>{{ course.title }}</h3>
            </div>
            <div>
              <p>{{ course.description }}</p>
            </div>
          </div>
        </div>

        <script>
        var navigator=new Vue({
            el:'#navigator',
            data:{
                items: [
                { id: 1, text: '登录', url: '/login' },
                { id: 2, text: '注册', url: '/register' },
                { id: 3, text: '听力1500词测试', url: '/listeningWordTest' },
            ]
            }
        });
        new Vue({
        el: '#courseList',
        data: {
            courses: []
        },
        mounted() {
            this.fetchCourses()
        },
        methods: {
            fetchCourses() {
            axios.get('http://127.0.0.1:8080/courseList?num=5')
                .then(response => {
                this.courses = response.data
                })
                .catch(error => {
                console.error(error)
                })
            },
            navigateTo(url) {
                  window.location.href = url;
                }
        }
        });
        </script>
        <style>
            div.courseItem {
              display: flex;
              flex-direction: column;
              align-items: center;
              cursor: pointer;
            }
            
            div.courseItem img {
              width: 200px;
              height: 150px;
            }
            
            div.courseItem h3 {
              font-weight: bold;
            }
        </style>
    </body>
</html>